In [6]:
b=98.98
a=10
c=False
print(type(c))

<class 'bool'>

In [10]:
age="22"
name="yogin"
s=100
print(s+int(age))

122

In [13]:
a=2
b=6
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a+b-a*b//a%b)

8
-4
12
0.3333333333333333
0
64
8

In [21]:
a=20
b=10
print("Before swapping",a,b)
a=a+b
b=a-b
a=a-b
print("After swapping",a,b)

Before swapping 20 10
After swapping 10 20

In [2]:
boy_name=input("Enter boy name>>>")
boy_age=int(input("Enter boy age >>>"))
girl_name=input("Enter girls name >>")
girl_age=int(input("Enter the girls age"))
age_diff=boy_age - girl_age
print(boy_name+" loves "+girl_name+" and their age is "+str(boy_age)+" and "+str(girl_age))
print(f"{boy_name} loves {girl_name} age is {boy_age} and {girl_age}")
print(abs(age_diff))

Enter boy name>>>yogin
Enter boy age >>>22
Enter girls name >>nc
Enter the girls age39
yogin loves nc and their age is 22 and 39
yogin loves nc age is 22 and 39
17

In [9]:
f_name="yogin"*3
s_name="nc"
full_name=f_name+" "+s_name
print(full_name)
print(s_name*5)

yoginyoginyogin nc
ncncncncnc

In [41]:
name="Welcome to Mysuru"
print(len(name))
print(name[8])
print(name[6:18])
print(name[-3])
print(name[3:17:2])
print(name[:6])

17
t
e to Mysuru
u
cm oMsr
Welcom

In [42]:
print(name.upper())
print(name.lower())
print(name.strip()*2)

WELCOME TO MYSURU
welcome to mysuru
Welcome to MysuruWelcome to Mysuru

In [46]:
name1="welcome to namma mysurige"
print(name1.replace("welcome","swagatha"))

swagatha to namma mysurige

In [56]:
a=12
b=24
a+=2
print(a)
a*=3
print(a)
a%=b
print(a)
a-=10
print(a)

14
42
18
8

In [60]:
a=10
b=20
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print9

False
True
False
True

In [66]:
a=15
b=25
print(a>b and b<a)
print(a<b and b>a)
print(a==b or b==a)
print(a!=b or b!=a)
print(not(a>b))

False
True
False
True
True

In [71]:
#membership in and not in
f_name="yogin"
s_name="nc"
print("y" not in s_name)
print("z" in f_name)

True
False

In [78]:
#checkibg the age for voting 
age=int(input("Enter the age: "))
if age >=18:
    print("Your are eligible to vote")
else:
    print("Not eleigible to vote")

Enter the age: 12
Not eleigible to vote

In [33]:
#list learning
list1=[1,2,3,4,5,6]
print(list1)
list1.reverse()
list1.append(24)
#list1.pop()
list1.sorted()


#print(list1[1])
print(list1)
#print(list1[1:6:2])

[1, 2, 3, 4, 5, 6]
24
[6, 5, 4, 3, 2, 1]

In [39]:
fruits=["banana","Mango","Apple","Strawberry"]
print(fruits)
#fruits.append("chikoo")
#fruits.insert(2,"kiwi")
#fruits.remove("Strawberry")
#fruits.pop()
#print(len(fruits))
#print(fruits[3])
#fruits.clear()
fruits_list=fruits[0:3:2]
fruits.reverse()
print(fruits)
print(fruits_list)

['banana', 'Mango', 'Apple', 'Strawberry']
['Strawberry', 'Apple', 'Mango', 'banana']
['banana', 'Apple']

In [53]:
My_list=[78,990,88,88,6098,77,67]
print(My_list)
print(sorted(My_list))
print(len(My_list))
print(sum(My_list))
print(My_list.count(88))

[78, 990, 88, 88, 6098, 77, 67]
[67, 77, 78, 88, 88, 990, 6098]
7
7486
2

In [49]:
matrix=[[1,2,3],
       [4,5,6],
       [7,8,9]]
print(matrix)
print(len(matrix))
print(matrix[0][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3
3

In [1]:
a=int(input("Enter the first number >>"))
b=int(input("Enter the second number>> "))

print(a>10 and b>10)
print(a>5 or b>5)
print(not(a>b))

True
True
True

In [6]:
l=[1,4,"c", True,"Yogin"]
print(len(l))
l.append("NC")
l.remove("c")
print(l)

5
[1, 4, True, 'Yogin', 'NC']

In [12]:
l=[24,248,196,56,189]
print(l)
l.sort()
print(l)
print(l[::-1])
print(l)
l.sort(reverse=True)

[24, 248, 196, 56, 189]
[24, 56, 189, 196, 248]
[248, 196, 189, 56, 24]
[24, 56, 189, 196, 248]

In [18]:
#Tuple Operations
tp1=(1,2,3,6,8)
tp2=(5,6,7,8,9)
#tp[3]=4
print(tp)
print(tp[1:3])
print(tp+tp2)

(1, 2, 3, 6, 8)
(2, 3)
(1, 2, 3, 6, 8, 5, 6, 7, 8, 9)

In [24]:
#Set operations 

mf={"Butterfruit","Chikko","Apple"}
ff={"Apple","Banna","Kiwi"}
print(mf | ff)
print(mf & ff)
print(mf - ff)
mf.add("Orange")
print(mf)
mf.discard("Grapes")

{'Chikko', 'Apple', 'Kiwi', 'Butterfruit', 'Banna'}
{'Apple'}
{'Butterfruit', 'Chikko'}
{'Orange', 'Apple', 'Butterfruit', 'Chikko'}

In [27]:
#Set and tuple operation
l=[22,56,98,52]
s=set(l)
t=(l)
print(s,t)
s.add(1009)
print(s)

{56, 98, 52, 22} [22, 56, 98, 52]
{98, 1009, 52, 22, 56}

In [40]:
#Dictionary operations

dishes={
    "Mysuru":"Mysore Pak",
    "Hassan":"Meenu",
    "Malenadu":"Kadubu"
}
print(dishes)
dishes["Nanjangudu"]="Yeedi"
print(dishes)
del dishes ["Malenadu"]
print(dishes)
print(dishes.keys())
print(dishes.values())

{'Mysuru': 'Mysore Pak', 'Hassan': 'Meenu', 'Malenadu': 'Kadubu'}
{'Mysuru': 'Mysore Pak', 'Hassan': 'Meenu', 'Malenadu': 'Kadubu', 'Nanjangudu': 'Yeedi'}
{'Mysuru': 'Mysore Pak', 'Hassan': 'Meenu', 'Nanjangudu': 'Yeedi'}
dict_keys(['Mysuru', 'Hassan', 'Nanjangudu'])
dict_values(['Mysore Pak', 'Meenu', 'Yeedi'])

In [46]:
# Nested dictionary

dict={
    "friend1":{
        "name":"Yogin",
        "fav_sub":"cooking",
        "fav_food":"Biriyani"
        
    },
    "friend2":{
        "name":"Samhit",
        "fav_sub":"coding",
        "fav_food":"Fish"
        
    }
}
print(dict)
#f=dict["friend1"]
print(dict["friend1"]["fav_food"])

{'friend1': {'name': 'Yogin', 'fav_sub': 'cooking', 'fav_food': 'Biriyani'}, 'friend2': {'name': 'Samhit', 'fav_sub': 'coding', 'fav_food': 'Fish'}}
Biriyani

In [48]:
vowels="aeiou"
string="Yogin"
count=0
for letter in string:
    if letter in vowels:
        count+=1
print(count)

2

In [50]:
foods=["idli","bath","dose"]

up_foods=[items.upper() for items in foods] #list comprahension
print(up_foods)

['IDLI', 'BATH', 'DOSE']

In [55]:
#dictioanries sum
products={
    "pen":10,
    "pencil":15,
    "rubber":7
}
print(products)
#print(sum(list(products.values())))
print(len(products.values()))

{'pen': 10, 'pencil': 15, 'rubber': 7}
3

In [10]:
#functions practice

def first_sum(a,b):
    return(a+b)
first_sum(3,6)
#a=20
#b=first_sum(3,6)
#c=a+b
#print(c)

9